@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');



body {
    background-color: #b3472d; 
    margin: 0;
    padding: 0;
    overflow-y: auto;  
    height: 100vh;  
}

.pdf-page {
    background-color: #1c1c1c; 
    width: 100vw;  
    min-height: 100vh;  
    padding: 20px;  
    margin: 0;  
    border-radius: 0;  
    box-shadow: none;  
    border: none;  
    display: flex;
    flex-direction: column;  
    box-sizing: border-box;  
    overflow: visible; 
}

h2, h1, h3, h4, h5, h6 {
    color: #E5E5E5;
    margin-top: 20px;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;


}

p {
    color: #E5E5E5;  
    line-height: 1.6;  
    margin-bottom: 20px;
    text-align: justify; 



}

#review-list {
    color: #E5E5E5;
    margin-left: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;

 
}

#review-list li {
    margin-bottom: 10px;
    line-height: 1.5;

}

#review-list h1 {
    margin-bottom: 10px;
    line-height: 1.5;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;

}

table {
    width: 100%;
    margin-top: 20px;
}

td {
    padding: 10px;
    text-align: left;
}

img {
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 600px; 
    margin: 10px; 

}


.section-divider {
    border: 0;
    border-top: 2px solid #E5E5E5;  
    margin: 30px 0;  
}

.pdf-page .dt-published {
    color: white; 
    font-size: 0.95rem;
    font-style: italic;
    margin-bottom: 20px;
    display: block;
}

.h-card a {
    color: #e5e5e5;       
    text-decoration: none; 
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;


}
  
  .h-card a:hover {
    color: #6B7A8F ;       
    text-decoration: underline; 
  }


@media print {
    body {
        background-color: #67b2bc;
    }

    .pdf-page {
        box-shadow: none;
        margin: 0;
        width: 100%;
        height: auto;
    }


    



}

@media screen and (max-width:420px) {
    table img {
        max-width: 200px;     
        height: 120px;        
        object-fit: contain;  
        display: block;
        margin: 0 auto;      
        border: none;
        box-shadow: none;
    }

    td {
        padding: 5px;
        background-color: #1c1c1c;
    }

    img {
        width: 70%;           
        max-width: 300px;     
        margin: 10px auto;    
        display: block;       
        height: auto;        
    }

    .dt-published {
        color: white; 
        font-size: 0.95rem;
        font-style: italic;
        margin-bottom: 20px;
        display: block;
    }
    
}

@media screen and (min-width: 2560px) {
    img {
        max-width: 700px; 
        margin: 5px 10px; 
    }

    .pdf-page {
        padding: 30px; 
    }
}


