@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');


body {
    background-color: #b3472d; 
    margin: 0;
    padding: 0;
    overflow-y: auto;  
    height: 100vh;  
}

.pdf-page {
    background-color: #1c1c1c; 
    width: 100vw;  
    min-height: 100vh;  
    padding: 20px;  
    margin: 0;  
    border-radius: 0;  
    box-shadow: none;  
    border: none;  
    display: flex;
    flex-direction: column;  
    box-sizing: border-box;  
    overflow: visible; 
}

h2, h1, h3, h4, h5, h6 {
    color: #E5E5E5;
    margin-top: 20px;
    font-family: "Gelasio", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
}

p {
    color: #E5E5E5;  
    line-height: 1.6;  
    margin-bottom: 20px;
    text-align: justify;  
    font-family: "Gelasio", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
}

#review-list {
    color: #E5E5E5;
    margin-left: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    font-family: "Gelasio", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#review-list li {
    margin-bottom: 10px;
    line-height: 1.5;
}

table {
    width: 100%;
    margin-top: 20px;
}

td {
    padding: 10px;
    text-align: center;
}

img {
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 600px; 
    margin: 10px; 

}


.section-divider {
    border: 0;
    border-top: 2px solid #E5E5E5;  
    margin: 30px 0;  
}


@media screen and (max-width: 480px) {
    body {
        background-color: #67b2bc;
    }

    .pdf-page {
        box-shadow: none;
        margin: 0;
        width: 100%;
        height: auto;
    }

    table img {
        max-width: 200px;     
        height: 120px;        
        object-fit: contain;  
        display: block;
        margin: 0 auto;      
        border: none;
        box-shadow: none;
    }

    td {
        padding: 5px;
        background-color: #1c1c1c;
    }

    img {
        width: 70%;           
        max-width: 300px;     
        margin: 10px auto;    
        display: block;       
        height: auto;        
    }
    



}

@media screen and (min-width: 2560px) {
    img {
        max-width: 700px; 
        margin: 5px 10px; 
    }

    .pdf-page {
        padding: 30px; 
    }
}


