/* Blog Navigation Container */

body {
    background-color: #b3472d /* Light blue example - change as needed */
}


#blog-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;

}

/* Blog Card Styles */
#blog-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
    gap: 25px;
    justify-content: center;
    max-width: 1200px;
    width: 100%;

}


#blog-nav ul li {
    flex: 0 0 220px; 
    aspect-ratio: 2 / 3;
    display: flex;          /* Card-like fixed size */




}

#blog-nav ul li a {
    display: block;
    background-color: #ece7db;
    padding: 30px 20px;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid #ccc;
    transform: perspective(1500px) rotateY(0);
    width: 100%;               /* Fill the flex item */
    height: 100%;


}

#blog-nav ul li a:hover {
    transform: perspective(1500px) rotateY(5deg); /* 3D rotation effect on hover */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25); /* More shadow on hover */
    background-color: #6B7A8F;
    color: white;
}

