.right {
    display: flex;
    align-items: center;
   }
   .right button {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background: none;
     border: none;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
   }
   .right button:hover {
     background: rgb(233, 243, 255);
     color: rgb(7, 102, 197);
   }
   .sub-menu {
position: absolute;
top: 55px;
left: 10px; /* <-- changed from right: 10px */
width: 200px;
height: fit-content;
display: none;
align-items: center;
justify-content: center;
flex-direction: column;
background: white; /* <-- changed from blue */
border-radius: 2mm;
padding: 10px 0;
box-shadow: rgba(0, 0, 0, 0.27) 0px 15px 38px,
rgba(0, 0, 0, 0.2) 0px 10px 12px;
}


   .option,
   .sub {
     width: 100%;
     text-align: center;
     text-decoration: none;
     font-family: poppins;
     color: #1c1c1c;
     font-weight: 500;
     padding: 10px 0;
   }
   .option:hover,
   .sub:hover {
    color: #1c1c1c; 
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;

   }
   .sub {
     display: none;
   }
   @media only screen and (max-width: 450px) {
     .head {
       display: none;
     }
     .sub {
       display: block;
     }
   }