@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');

body {
   
    background-color: #E5E5E5; /* Change this to any color */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#main-nav .site-title {
  color: #E5E5E5;
  text-align: left;
  font-size: 20px;
  font-family: "Gelasio", serif;
  font-weight: 600;
  margin-left: 0; 
  margin-top: 0;
   
  
}

#main-nav {
  background-color: #2f2c3f;
  padding: 5px 50px; /* Reduced top/bottom padding to decrease navbar height */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 2px solid #c5c4c4;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


#main-nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 10px;
}

#main-nav ul li {
    display: inline;
}

#main-nav ul li a {
    text-decoration: none;
    color: #E5E5E5;
    padding: 8px 12px;
    border-radius: 5px;
    font-family: "Gelasio", serif;
    font-optical-sizing: auto;
    
    font-style: normal;

    font-size: 16px;
    transition: 0.3s;
}

#main-nav ul li a:hover {
    background-color: #6B7A8F;
}

@media (max-width: 768px) {
    #main-nav {
      position: static;
      width: 100%;
      padding: 20px 10px;
    }
  
    #main-nav ul {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      gap: 5px;
    }
  
    #main-nav ul li {
      width: 100%;
    }
  
    #main-nav ul li a {
      display: block;
      width: 100%;
      padding: 10px 0;
      font-size: 18px;
    }
  }
  
