@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
}


.overlay-heading {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  
  padding: 20px 30px;
  border-radius: 12px;
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;


}


.overlay-paragraph {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  
  padding: 20px 30px;
  border-radius: 12px;
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;



}

.overlay-paragraph {
  cursor: pointer;
  transition: color 0.3s;
}

.overlay-paragraph:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  
}

@media (max-width: 768px) {
  .overlay-heading {
    top: 20px;
    padding: 12px 16px;
    font-size: 1.5rem;
  }

  .overlay-paragraph {
    bottom: 20px;
    padding: 12px 16px;
    font-size: 1rem;
  }
}
