
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');

.image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
}


.overlay-heading {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  
  padding: 20px 30px;
  border-radius: 12px;
  font-family: "Gelasio", serif;
  font-optical-sizing: auto;
  
  font-style: normal;

}


.overlay-paragraph {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  
  padding: 20px 30px;
  border-radius: 12px;
  font-family: "Gelasio", serif;
  font-optical-sizing: auto;
  
  font-style: normal;

}


@media (max-width: 768px) {
  .overlay-heading {
    top: 20px;
    padding: 12px 16px;
    font-size: 1.5rem;
  }

  .overlay-paragraph {
    bottom: 20px;
    padding: 12px 16px;
    font-size: 1rem;
  }
}
